[submodule "json-fortran"]
	path = json-fortran
	url = https://github.com/jonathanschilling/json-fortran.git
[submodule "LIBSTELL"]
	path = LIBSTELL
	url = https://github.com/ORNL-Fusion/LIBSTELL.git
